@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.table {
    &__container {
        &--inventory > thead > tr > th  {
            width: 50%;
        }
        &--inventory 
            > tbody > tr > td  {
            @include tablet {
                width: 15%;
            }
        }
        &--inventory 
            > thead > tr > th  {
            @include tablet {
                width: 15%;
            }
        }
    }
}