@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.delete-inventory {
    &__background {
        background-color: rgba($color: $primary-black, $alpha: 0.5);
        position: relative;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        display: flex;
        justify-content: center;
        position: fixed;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $primary-white;
        padding: $mobile-padding-left-right;

        @include tablet {
            background-color: $primary-white;
            padding: $tablet-padding-left-right;
            position: absolute;
            margin: auto;
            width: 70%;
            padding-bottom: 10%;
            top: 30%;
        }
        @include desktop {
            background-color: $primary-white;
            padding: $desktop-padding-left-right;
            position: absolute;
            top: 5rem;
        }
    }

    &__close-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &__header {
        @include mobile-header-text;
        padding-top: 2rem;

        @include tablet {
            @include tablet-header-text;
            padding-top: 2rem;
        }
    }

    &__body {
        @include mobile-body-large-text;
        padding-top: 1.5rem;
        
        @include tablet {
            @include tablet-body-medium-text;
        }
    }

    &__buttons {
        position: relative;
        bottom: -55vh;
        display: flex;

        @include tablet {
            position: unset;
            width: 25%;
            margin-left: 63%;
            padding-top: 5%;
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 8vh;
        }

        &-cancel {
            @include cta-button;
            background-color: $primary-white;
            color: $secondary-slate;
            border: 1px solid $secondary-cloud;
            margin-right: .9375rem;
        }

        &-delete {
            @include cta-button;
            color: $primary-white;
            background-color: $supporting-red;
        }
    }
}