@use '../../styles/partials/variables' as *;

.warehouse-inventory {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    &__header {
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    &__subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5rem;
        padding-top: 1rem;
        & h3 {
            font-size: .75rem;
            text-transform: uppercase;
            color: grey;
            font-weight:700;
        }
        & p {
            font-size: .9rem;
            font-weight: 400;
        }
        &--contact {
            display: flex;
            width: 60%;
            justify-content: space-evenly;
            // &-name {}
            // &-info {}
        }
        &--address {
            width: 40%;
            border-right: 1px solid #ccc;
        }
    }
}


.button {
    &__button {
        border: none;
        border-radius: 30px;
        padding: .35rem 1.1rem;
        font-family: 'Titillium', Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }
    &__edit {
        background-color: $primary-blue;
        color: white;
    }
//     &__cancel {
//         background-color: white;
//         color: black;
//         border: 1px solid black;
//     }
//     &__add {
//         background-color: $primary-blue;
//         color: white;
//     }
}