@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_typography.scss' as *;
@use '../../styles/partials/_variables.scss' as *;

.edit-inventory-item {
    background-color: $primary-white;

    &__title {
        @include mobile-header-text;
        @include padding-headlines;

        @include tablet {
            @include tablet-header-text;
        }

        &-container {
            @include divider;
            display: flex;
            padding: $mobile-padding-left-right;

            @include tablet {
                padding: $tablet-padding-left-right;
            }

            @include desktop {
                padding: $desktop-padding-left-right;
            }
        }

        &-icon {
            margin: 2rem 1rem 0 0;
        }
    }

    &__form {
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1.875rem;
        }
    }

    &__radios {
        display: flex;
        margin-bottom: .5rem;
    }

    &__radio {
        &-text {
            @include spacing-radio-button;
            @include mobile-body-medium-text;

            @include tablet {
                @include tablet-body-medium-text;
            }
        }
    }

    &__radio:not(:checked)+.edit-inventory-item__radio-text {
        color: $secondary-slate;
    }

    &__subheader {
        @include mobile-subheader-text;
        @include padding-headlines;

        @include tablet {
            @include tablet-subheader-text;
        }
    }

    &__label {
        @include mobile-labels-links-buttons-text;

        @include tablet {
            @include tablet-labels-links-buttons-text;
        }

        &--radio {
            &-out {
                margin-left: 3.75rem;
            }
        }
    }

    &__details {
        border-bottom: $secondary-cloud 1px solid;
        @include divider;
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            border-bottom: none;
            display: flex;
            width: 48%;
            border-right: $secondary-cloud 1px solid;
            padding-right: 3.125rem;
            flex-direction: column;
            padding: 0 2rem 1rem 2em;
        }

        @include desktop {
            padding: 0 auto 1rem auto;
        }
    }

    &__availability {
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            padding: $tablet-padding-left-right;
        }

        @include tablet {
            display: flex;
            padding: 0 2rem 1rem 2em;
            width: 48%;
            flex-direction: column;
        }

        @include desktop {
            padding: 0 auto 1rem auto;
        }

    }

    &__input {
        @include form-field;
        margin: .5rem 0;

        &--quantity {
            @include desktop {
                width: 25%;
            }
        }
    }

    &__textarea {
        @include form-field;
        margin: .5rem 0;
        height: 7.5rem !important;
    }

    &__select {
        @include form-field;
        margin: .5rem 0;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url('../../assets/icons/arrow_drop_down-24px.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.25rem) center;
    }

    &__buttons {
        display: flex;
        align-items: center;
        background-color: $background-light-grey;
        height: 4.25rem;
        padding: $mobile-padding-left-right;

        @include tablet {
            justify-content: flex-end;
            padding: $tablet-padding-left-right;
        }
        @include desktop {
            padding: $desktop-padding-left-right;
        }
    }

    &__button {
        @include cta-button;

        @include tablet {
            width: 12vw;
        }

        &--submit {
            background-color: $primary-blue;
            color: $primary-white;
            border: none;
        }

        &--cancel {
            background-color: $primary-white;
            border: 1px solid $secondary-cloud;
            color: $secondary-slate;
            margin-right: .9375rem;
        }
    }
}