@font-face {
    font-family: 'titillium';
    src: url('../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype'),
    font-weight 400;
  }
  
  @font-face {
    font-family: 'titillium-semibold';
    src: url('../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf') format('truetype'),
    font-weight 600;
  }