@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_typography.scss' as *;
@use '../../styles/partials/_variables.scss' as *;

.inventory-item-details {
    background-color: $primary-white;
    @include mobile-body-medium-text;
    @include padding-bottom-components;

    @include tablet {
        @include tablet-body-medium-text;
    }

    &__item-container {
        padding-top: 1rem;
    }

    &__title {
        @include mobile-header-text;
        @include padding-headlines;

        @include tablet {
            @include tablet-header-text;
        }

        &-and-icon {
            display: flex;
        }

        &-container {
            @include divider;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: $mobile-padding-left-right;

            @include tablet {
                padding: $tablet-padding-left-right;
            }

            @include desktop {
                padding: $desktop-padding-left-right;
            }
        }

        &-icon {
            margin: 2rem 1rem 0 0;
        }
    }

    &__value {
        padding-bottom: .5rem;

        &--stock {
            @include mobile-table-header;
            text-transform: uppercase;
            border: none;
        }

        &--in-stock {
            @include in-stock-tag;
        }
        &--out-of-stock {
            @include out-of-stock-tag;
        }
    }

    &__icon {
        padding: .5rem;

        &-container {
            background-color: $primary-blue;
            border-radius: 50%;
            height: fit-content;
            display: flex;
            align-items: center;
        }
    }

    &__label {
        @include mobile-table-header;
        text-transform: uppercase;
        color: $secondary-slate;
        padding-bottom: .25rem;
    }

    &__description {
        &-container {
            padding: $mobile-padding-left-right;

            @include tablet {
                padding: $tablet-padding-left-right;
            }

            @include desktop {
                padding: $desktop-padding-left-right;
            }
        }
    }

    &__stock {
        display: flex;
    }

    &__quantity {
        display: flex;
        flex-direction: column;
    }

    &__status {
        display: flex;
        flex-direction: column;
        margin-right: 30vw;
    }
}