@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_typography.scss' as *;
@use '../../styles/partials/_variables.scss' as *;

.add-warehouse-item {
    background-color: $primary-white;

    &__title {
        @include mobile-header-text;
        @include padding-headlines;
        font-size: 1.5rem;

        @include tablet {
            @include tablet-header-text;
        }

        &-container {
            display: flex;
            align-items: center;
            @include divider;
            padding: $mobile-padding-left-right;

            @include tablet {
                padding: $tablet-padding-left-right;
            }

            @include desktop {
                padding: $desktop-padding-left-right;
            }
        }

        &-icon {
            margin: 0.8rem 1rem 0 0;
        }
    }

    &__form {
        @include tablet {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 75vh;
        }
    }

    &__header {
        @include mobile-subheader-text;
        padding: 1rem 1rem;
        @include tablet {
            padding: 1rem 8.5rem;
            padding-left: 0rem;
            margin-left: 1rem
        }
        @include desktop {
            padding: 1rem 24.5rem;
            padding-left: 0rem;
        }
    }

    &__subheader {
        @include mobile-body-large-text;
        font-weight: 700;
        padding: 0rem 1rem;
        @include tablet {
            margin-left: 1rem;
            padding: 0em;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
    }


    &__input {
        @include form-field;
        padding: 0em 1em;
        margin: .5rem 1rem;
        width: 90%;
    }

    &__split{
        @include tablet{
            display: flex;
            justify-content: center;
        }
        &-line {
            @include divider;
            @include tablet{
                border-bottom: none;
                    border-right: 1px solid $secondary-cloud;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        background-color: $background-light-grey;
        padding: $mobile-padding-left-right;
        padding-top: 1em;
        @include tablet{
            justify-content: flex-end
        }
        @include desktop{
            padding: 0rem 4rem;
        }

        &-submit {
            @include cta-button;
            @include mobile-body-small-text;
            background-color: $primary-blue;
            color: $primary-white;
            border: none;
            @include tablet{
                width: 22%;
            }
            @include desktop{
                width: 15%;
            }
        }

        &-cancel {
            @include cta-button;
            background-color: $primary-white;
            color: $secondary-slate;
            border: 1px solid $secondary-cloud;
            margin-right: .9375rem;
            @include tablet{
                width: 22%;
            }
            @include desktop{
                width: 15%;
            }
        }
    }
}