@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.header {
    @include mobile-labels-links-buttons-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-graphite;
    padding-bottom: 100px;

    @include tablet {
        @include tablet-labels-links-buttons-text;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__logo {
        padding-top: 1.25rem;

        @include tablet {
            padding-left: 4rem;
        }
    }

    &__links {
        display: flex;
        padding: 1.25rem;

        @include tablet {
            padding-right: 2rem;
        }

        @include desktop {
            padding-right: 4rem;
        }

        &-warehouses {
            padding-right: .625rem;
            padding-left: .625rem;
            padding-top: .1875rem;
            padding-bottom: .1875rem;
            color: $secondary-cloud;

            &.active{
                background-color: $primary-black;
                color: $primary-white;
                border-radius: 20px;
            }
        }

        &-inventory {
            padding-left: .625rem;
            padding-right: .625rem;
            padding-top: .1875rem;
            padding-bottom: .1875rem;
            color: $secondary-cloud;

            &.active{
                background-color: $primary-black;
                color: $primary-white;
                border-radius: 20px;
            }
        }
    }
}