@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *; 


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-graphite;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: .625rem;
    }

    &__logo{
        display:flex;
        padding-top: 1.25rem;
        @include tablet{
            padding-left: 4rem;
        }
    }
    &__links{
        display: flex;
        list-style: none;
        padding: 1.25rem;
        @include mobile-body-medium-text;
        @include tablet{
            padding-right: 2rem;
        }
        @include desktop{
            padding-right: 4rem;
            @include tablet-body-large-text;
        }

        :active{
            background-color: blue;
            border-radius: 30px;
        }
        

        &-warehouses{
            padding-right: .625rem;
            padding-left: .625rem;
            padding-top: .1875rem;
            padding-bottom: .1875rem;
            color: $primary-white;
            text-decoration: none;
        }
        &-inventory{
            padding-left: .625rem;
            padding-right: .625rem;
            padding-top: .1875rem;
            padding-bottom: .1875rem;
            color: $primary-white;
            text-decoration: none;
        }
    }
}