@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.table {
    &__container {
        &--warehouse-details 
        > thead > tr > th  {
            width: 50%;
        }
        &--warehouse-details 
            > tbody > tr > td  {
            @include tablet {
                width: 18%;
            }
        }
        &--warehouse-details
            > thead > tr > th  {
            @include tablet {
                width: 18%;
            }
        }
    }
}