@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.table {
    &__warehouse {
        td, th {
            @include tablet {
                width: 19%;
            }
        }
    }
    &__container {
        position: relative;
    }
    &__modal {
        position: absolute;
    }
}