@use './styles/partials/_mixins.scss' as *;
@use "./styles/partials/_variables.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium', Arial, Helvetica, sans-serif;
}
