@use './styles/partials/mixins.scss' as *;
@use "./styles/partials/variables.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium', Arial, Helvetica, sans-serif;
}

.inventory-item-details,
.add-inventory-item,
.edit-inventory-item,
.inventory-list,
.add-warehouse-item,
.edit-warehouse-item,
.warehouse-details,
.list-container {
  position: relative;
  top: -5rem;
}